@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root{
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);
    
    /* --psize: 14px; */

}

body{
background-color:var(--Grey-900);
font-family: "Inter", sans-serif;
 font-size: 14px;
 color: white;
}

.main-box{
  width: 400px;
  height: 110vh;
  background-color: var(--Grey-800); 
  margin: 60px auto;
  display: flex;
  flex-flow: nowrap column;
  justify-content: space-between;
  align-items: center;
}
.desc{
  display: flex;   
  flex-flow: column nowrap;
  align-items: center; 
  height: 40%;
  padding: 25px;
  padding-bottom: 0;
}


.links{
  display: flex;   
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: 65%;
  padding: 20px;
  padding-top: 0;
}

a{
    text-decoration: none;
    font-weight: 600; 

    display: block;
    display: flex;   
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: var(--Grey-700);
    color: white;
    width: 90%;
    height: 10%;
    border-radius: 7px;
    padding: 5px;

}

a:hover{
   background-color:var(--Green);
   color: var(--Grey-700);

}

.name{
  margin-bottom: 0;
  font-weight: 700;
  font-size: 24px;
}
.loc{
  color: var(--Green);
  font-weight: 600;
}

img{
  width: 150px;
  border-radius: 75px ;

}